.git
.gitignore
.gitattributes
vendor
node_modules
Dockerfile
docker-compose.yml
.dockerignore
.vscode
.idea
.DS_Store
*.swp
*.swo
tests
phpunit.xml
.phpunit.result.cache
phpstan.neon.dist
phpstan-baseline.neon
coverage
README.md
docs
docs-md
project-setup.md
postman_collection.json
.env
.env.backup
.env.production
public/build
public/hot
storage/logs/*
storage/framework/sessions/*
storage/framework/cache/*
storage/framework/views/*
set-up.sh
ssl
nginx
Duralux-admin-1.0.0
.agents
.github
schema_fixed.sql
