parameters:
	ignoreErrors:
		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/TemplateInstanceResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/TemplateInstanceResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 2
			path: app/Http/Resources/TemplateResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$label\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/TemplateResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$name\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/TemplateResource.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$slug\.$#'
			identifier: property.notFound
			count: 1
			path: app/Http/Resources/TemplateResource.php

		-
			message: '#^Class App\\Services\\CanvasHtmlRenderer not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Parameter \#3 \$htmlRenderer of class App\\Services\\TemplateGeneratorService constructor expects App\\Services\\Pdf\\CanvasHtmlRenderer, App\\Services\\CanvasHtmlRenderer given\.$#'
			identifier: argument.type
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Access to an undefined property Illuminate\\Database\\Eloquent\\Model\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/TemplateService.php
